page-dashboard {

    .create-new-event-link {
        color: white;
        font-size: 16px;
        border-bottom: 1px solid;
    }

    .my-card-title {
        background: rgba(0, 0, 0, 0.75);

        ion-item{
            background: none;
            color: white;

            .event-avatar {
                width: 40%;
            }
        }
    }

    .my-card-title.event {
        padding: 8px 4px;
    }
}
