<ion-content padding>

    <div class="my-header">
      <div class="my-header-paragraph">
        <ion-icon class="menu" name="menu" (click)="gotoMenu()"></ion-icon>
        <img class="logo" src="./assets/imgs/logo.png" height="60px"/>
      </div>
      <div class="my-header-title">
        {{title}}
      </div>
    </div>

    <button ion-button icon-start full round large color="white" class="small-height pink-color" (click)="createNewEvent()">
      <ion-icon name="add"></ion-icon>
      Create a new event
    </button>

    <div class="my-card" *ngIf="next_host_event == null">
      <div class="my-card-title">
        You are not hosting any upcoming events.
      </div>
      <div class="my-card-content">
        <a class="create-new-event-link" (click)="createNewEvent()">Create a new event!</a>
      </div>
    </div>

    <div class="my-card" *ngIf="next_host_event != null">
      <div class="my-card-title event">
        <ion-item (click)="gotoEvent(next_host_event.id)">
          <img class="event-avatar" src="{{cloud_url}}h_160,w_200/{{next_host_event.public_id}}" item-start>
          <h3>Your next hosted event</h3>
          <h3>{{next_host_event.date | date: 'EEEE, MMMM dd, yyyy'}}</h3>
          <h3>{{next_host_event.name}}</h3>
          <h3>{{next_host_event.venue}}</h3>
          <h3>{{next_host_event.address}}</h3>
        </ion-item>
      </div>
    </div>

    <div class="my-card" *ngIf="next_event == null">
      <div class="my-card-title">
        You do not have any upcoming events.
      </div>
      <div class="my-card-content">
        <a class="create-new-event-link" (click)="attendEvents()">Find upcoming events to attend!</a>
      </div>
    </div>

    <div class="my-card" *ngIf="next_event != null">
      <div class="my-card-title event">
        <ion-item (click)="gotoEvent(next_event.id)">
          <img class="event-avatar" src="{{cloud_url}}h_160,w_200/{{next_event.public_id}}" item-start>
          <h3>Your next attended event</h3>
          <h3>{{next_event.date | date: 'EEEE, MMMM dd, yyyy'}}</h3>
          <h3>{{next_event.name}}</h3>
          <h3>{{next_event.venue}}</h3>
          <h3>{{next_event.address}}</h3>
        </ion-item>
      </div>
    </div>

</ion-content>
