page-my-tickets {

    .event-list {
        background: rgba(0, 0, 0, 0.75);
        padding: 0px 16px 16px 16px;

        ion-item{
            background: none;
            border-bottom: 1px solid #a315b0;
            padding: 8px 0px;
            color: white;

            .event-avatar {
                width: 40%;
            }
        }

    }

}
