// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
    background-image: url('../assets/imgs/background.png');
    background-size: cover;
}

.my-header-title {
    .back {
        float: left;
    }
}

.margin-auto {
    margin: 0 auto;
}

ion-app.md [padding] .scroll-content {
    padding: 32px;
}
    
button.small-height {
    height: 2em;
}

button.pink-color {
    color: #a315b0;
}

button.margin {
    margin: 16px 0px;
}

button.normal-text {
    text-transform: none;
}

.list-header-md {
    border: none;
}

.list-md .item-block .item-inner, .item-md.item-block .item-inner {
    border: none;
}

.border-bottom {
    border-bottom: 1px solid;
}

.my-header {
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 16px;
    padding: 0px 24px;

    .my-header-paragraph {
        border-bottom: 1px solid #a315b0;
        height: 120px;
    }

    .logo {
        float: right;
        margin: 24px;
    }

    .menu {
        color: white;
        font-size: 48px;
        margin: 24px 0px;
    }

    .my-header-title {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        padding: 16px 0px;
    }
}

.my-header.nobottom {
    margin-bottom: 0px;
}

.my-card {
    color: white;
    margin: 16px 0px;

    .my-card-title {
        padding: 16px;
        background: rgba(0, 0, 0, 0.9);
    }

    .my-card-content {
        padding: 16px;
        background: rgba(0, 0, 0, 0.5);
    }
}
