page-new-event {

    #event-cancel-link {
        border-bottom: 1px solid;
        color: white;
    }

    .input-label-group {
        font-size: 24px;
        text-align: center;
        margin: 16px;
    }

    .event-info {
        ion-grid {
            color: white;
            background: rgba(0, 0, 0, 0.8);
            padding: 16px;

            ion-datetime, ion-select, textarea, input {
                margin: 0px;
                padding: 0 0 6px 0;
            }
            
            button {
                margin: 0px;
            }

            ion-select {
                max-width: 90%;
            }

            ion-toggle {
                width: 50px;
                display: inline-block;
            }
        }
    }
}
